* {
  border: 1px solid pink;
}

body {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
}

.header {
    height: 54px;
    font-size: 18px;
    font-weight: 900;
    background: whitesmoke;
    padding-left: 16px;
    padding-right: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 16px;
}

a {
    text-decoration: none; /* Remove link underline */
    color: black;
}

.lower-header {
    font-weight: bold;
    font-size: xx-large;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
}

.main-image {
    background-color: whitesmoke;
    font-style: oblique;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
}
