/* { border: 1px solid pink; } */

body {
    margin: 0;
    min-height: 100vh; /* initial body height = 
    100% of vh: "viewport height" */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-family: none;
    background-color: white;
    color: black;
}

.dark-mode {
    background-color: black;
    color: white;
}

.header {
    height: 63px;
    font-size: large;
    font-weight: normal;
    background: none;
    padding-left: 18px;
    padding-right: 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.right-links {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-style: oblique;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

a {
    text-decoration: none;
    color: #ff3399;
    filter: saturate(0);
    opacity: 0.77;
    transition-duration: 0.4s;
    padding: 9px;
    margin: 0 9px 0 0;
    border-radius: 6px;
}

button {
    background-color: transparent;
    opacity: .77;
    font-size: large;
    border: none;
    border-radius: 50%;
    padding: 2px 9px 2px 9px;
    transition-duration: 0.4s;
}
 
@media (hover: hover) { 
    button:hover { 
        /* Add hover effect to button 
        on hover enabled devices */ 
        opacity: 1;
    } 

    a:hover {
        opacity: 1;
        filter: saturate(1);
    }

    a.card-links:hover {
        opacity: 1;
        filter: saturate(1);
    }
} 

span.underline {
    text-decoration: underline dotted;
}

.lower-header {
    font-weight: normal;
    font-size: x-large;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 54px;
}

.pink-text {
    color: #ff3399;
    font-style: oblique;
}

.highlight-text {
    background-color: white;
    color: #ff3399;
    font-family: none;
    font-size: large;
    font-style: oblique;
    border-radius: 3px;
    padding: 3px;
    opacity: 1;
    filter: blur(0px);
}

.mid-section {
    display: flex;
    flex-direction: column;
    margin: 18px;
}

.hero-image {
    background-color: whitesmoke;
    /* background-size: cover; */
    background-position: center;
    border-radius: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 600px;
}

.hello-image {
    background-image: url("./img/about/colbyramsay-about-me-1024px.gif");
}

.design-image {
    background-image: repeating-radial-gradient(whitesmoke, white 18%, whitesmoke 36%);
}

.music-image {
    background-image: url("./img/about/colbyramsay-about-me-keyboard-1024px.gif");
}

.footer {
    height: 81px;
    color: #ff3399;
    filter: saturate(0);
    opacity: 0.77;
    font-size: large;
    font-weight: normal;
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

ul.footer-list {
    flex-direction: column;
    align-items: center;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 18px;
    gap: 0;
    font-style: oblique;
}

.card {
    /* border: 1px solid #eee; */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 2px 4px 4px 0px rgba(0,0,0,.2);
    background-color: white;
    border-radius: 18px;
    width: 270px;
    height: 145px;
    padding: 9px;
    margin: 9px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-1 {
    background-image: url("./img/design/supplements/colbyramsay-label-design-3d-render-pet-supplements-1920px.jpg");
}

.card-2 {
    background-image: url("./img/design/one-world-two-eyes/colbyramsay-logo-design-one-world-two-eyes-1920px.png");
}

a.card-links {
    background-color: white;
    box-shadow: 2px 4px 4px 0px rgba(0,0,0,.7);
    opacity: 1;
    filter: saturate(0);
    font-family: none;
    font-size: large;
    font-style: none;
    /*border-radius: 3px;*/
    /*padding: 2px 3px 4px 3px;*/
}