* {
  border: 1px solid pink;
}

body {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
}

.header {
    height: 54px;
    font-size: 18px;
    font-weight: 900;
    background: pink;
    padding-left: 16px;
    padding-right: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 16px;
}

a {
    text-decoration: none; /* Remove link underline */
    color: gray;
}

.lower-header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}
